backend:
  name: git-gateway
  branch: main
media_folder: "public/images/uploads"
public_folder: "/images/uploads"
collections:
  - name: "posts"
    label: "Artigos"
    folder: "src/content/posts"
    create: true
    fields:
      - {label: "Título", name: "title", widget: "string"}
      - {label: "Data", name: "date", widget: "datetime"}
      - {label: "Conteúdo", name: "body", widget: "markdown"}
